# 5장 심화문제
- 윤주향
- 201841089

# 1.중요사항 정리   
- 강의에서 가장 중요하고 생각하는 용어, 개념 등을 세 개 이상 써주세요.   
1) 반복의 종류   
    - 횟수 제어 반복(for 문) : 보통 횟수를 정해놓고 반복한다.   
    - 조건 제어 반복(while문) : 특정한 조건이 만족되면 계속 반복한다.   
    
  2) break : 루프를 강제적을 빠져나올 때 사용하는 문장이다.   
  3) format()메소드 : 문자열을 출력할 적에 매우 유용한 메소드이고, 대표적인 인자로는 {}(플레이스 홀더)가 있다.   
  


# 2. 자기 점검

   - 강의 중 어려웠던 점이나, 잘 모르겠는 것들을 써주세요.  
      심화문제 문제 5.8번이 잘 안풀립니다. 리스트 값을 비교했을 때 같은데 다르다고 출력이 됩니다. 왜 그런 결과가 나왔는지 모르겠습니다.   
   

# 3. 심화문제 풀기

   - 5단원의 심화 문제를 풀어서 제출하세요.

# 5.1

In [24]:
# 1)
print("1에서 100까지의 수 중에서 홀수는 :")
for i in range(1, 101) :
    if i%2 != 0 :
        print(i,end =' ')

1에서 100까지의 수 중에서 홀수는 :
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [19]:
# 2)
i = 0
print("1에서 100까지의 수 중에서 홀수는 :")
while i <= 100 :
    if i%2 != 0 :
        print(i, end = ' ')
    i=i+1

1에서 100까지의 수 중에서 홀수는 :
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [25]:
# 3) for반복문
print("1에서 100까지의 수 중에서 짝수는 :")
for i in range(1, 101) :
    if i%2 == 0 :
        print(i,end =' ')

1에서 100까지의 수 중에서 짝수는 :
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [26]:
# 3) while 반복문
i = 0
print("1에서 100까지의 수 중에서 짝수는 :")
while i <= 100 :
    if i%2 == 0 :
        print(i, end = ' ')
    i=i+1

1에서 100까지의 수 중에서 짝수는 :
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

# 5.2

In [29]:
# 1) for반복문 홀수의 합
add = 0
for i in range(1, 101) :
    if i%2 != 0 :
        add = add + i

print("1에서 100까지의 수 중에서 홀수의 합 : ", add)

1에서 100까지의 수 중에서 홀수의 합 :  2500

In [30]:
# 2) while 반복문 짝수의 합

i = 0
add = 0

while i <= 100 :
    if i%2 == 0 :
        add = add+i
    i=i+1

print("1에서 100까지의 수 중에서 홀수의 합 : ", add)

1에서 100까지의 수 중에서 홀수의 합 :  2550

In [34]:
# 3) 시작정수에서 끝정수까지의 합

import random

while True :
    x = int(input("시작 정수를 입력하세요 : "))
    y = int(input("끝 정수를 입력하세요 : "))
    sum = 0
    for i in range(x,y+1) : 
        sum = sum+i
    i = i+1
    
    if x<y :
        print("%s 에서 %s 까지 정수의 합 : %s"%(x,y,sum))
        break

시작 정수를 입력하세요 : 2
끝 정수를 입력하세요 : 6
2 에서 6 까지 정수의 합 : 20

# 5.3

In [35]:
o = int(input("맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다. \n 1) 햄버거 \n 2) 치킨 \n 3) 피자 \n1에서 3까지 메뉴를 선택하세요 : "))

while True :
    if o == 1 :
        print("햄버거를 선택하셨습니다.")
        break
    elif o == 2 :
        print("치킨을 선택하셨습니다.")
        break
    elif o == 3 :
        print("피자를 선택하셨습니다.")
        break
    else :
        o = int(input("메뉴를 다시 입력하세요 : "))

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
 1) 햄버거
 2) 치킨
 3) 피자
1에서 3까지 메뉴를 선택하세요 : 5
메뉴를 다시 입력하세요 : 6
메뉴를 다시 입력하세요 : 0
메뉴를 다시 입력하세요 : 2
치킨을 선택하셨습니다.

# 5.4

In [44]:
a = int(input("숫자를 입력하세요 : "))

for i in range(1, a+1) :
    x = '*' * i 
    y = ' ' * (a-i)
    print(y,x)

숫자를 입력하세요 : 5
     *
    **
   ***
  ****
 *****

# 5.5

In [46]:
date = 1
location = 7
while location<31:
    print("day : {0} 달팽이의 위치 : {1}".format(date, location))
    date = date + 1
    location = location-5+7
print("축하합니다. 우물을 탈출하였습니다.")
print("우물을 탈출하는 데 걸린 날은 {}일 입니다.".format(date))

day : 1 달팽이의 위치 : 7
day : 2 달팽이의 위치 : 9
day : 3 달팽이의 위치 : 11
day : 4 달팽이의 위치 : 13
day : 5 달팽이의 위치 : 15
day : 6 달팽이의 위치 : 17
day : 7 달팽이의 위치 : 19
day : 8 달팽이의 위치 : 21
day : 9 달팽이의 위치 : 23
day : 10 달팽이의 위치 : 25
day : 11 달팽이의 위치 : 27
day : 12 달팽이의 위치 : 29
축하합니다. 우물을 탈출하였습니다.
우물을 탈출하는 데 걸린 날은 13일 입니다.

# 5.6

In [49]:
fuel = 500

while True : 
    if fuel >= 50 :
        a = int(input("충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : "))
        fuel = fuel + a
        print("현재 탱크양은 {}입니다.".format(fuel))
    else : 
        print("경고 : 연료가 10% 미만이니 충전하세요!")
        break

충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : +60
현재 탱크양은 560입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : -300
현재 탱크양은 260입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : -220
현재 탱크양은 40입니다.
경고 : 연료가 10% 미만이니 충전하세요!

# 5.7

In [8]:
print("세 자리의 암스트롱 수 : ")
for i in range(100, 1000) : 
    n1 = i // 100 #백의자리
    n2 = (i//10)%10 #십의 자리
    n3 = (i%100%10) #일의 자리
    if (n1*100 + n2*10 + n3) == (n1**3 + n2**3 + n3**3) : 
        print(i, end = ' ')
    i = i+1

세 자리의 암스트롱 수 :
153 370 371 407

# 5.8

In [15]:
    n = input("정수를 입력하시오 : ")
    x = True
    
    while x : 
        if int(n) == -99 : 
            print("프로그램을 종료합니다.")
            x = False
        else : 
            a = list(map(int,' '.join(str(n)).split()))
            if a == a.reverse() : 
                print("{}은(는) 거꾸로 정수입니다.".format(n))
                n = input("정수를 입력하시오 : ")
            else :
                print("{}은(는) 거꾸로 정수가 아닙니다.".format(n))
                n = input("정수를 입력하시오 : ")

정수를 입력하시오 : 3443
3443은(는) 거꾸로 정수가 아닙니다.
정수를 입력하시오 : 324
324은(는) 거꾸로 정수가 아닙니다.
정수를 입력하시오 : -99
프로그램을 종료합니다.

In [18]:
#리스트 비교
list1 = [1,2,3,4]
list2 = [1,2,3,4]
if list1 == list2 :
    print(1)
else :
    print(0)

#문제가 발생한 부분 
n = input("정수를 입력하시오 : ")
a = list(map(int,' '.join(str(n)).split())) #입력받은 숫자를 리스트로 만들었습니다.

#입력받은 리스트와 리스트 값의 타입을 출력하였습니다.
print(a)
print(type(a[1]))

#조건문으로 리스트를 비교했습니다.
if a == a.reverse() : 
    print(1)
else : 
    print(0)
    
#reverse()된 a값을 프린트하고 리스트 값의 타입을 출력하였습니다.
print(a)
print(type(a[1]))

#리스트의 값이 다른게 아닌 것 같은데 왜 오류가 뜬건지 모르겠습니다.

1
정수를 입력하시오 : 3443
[3, 4, 4, 3]
<class 'int'>
0
[3, 4, 4, 3]
<class 'int'>

# 5.9

In [71]:
n = 0
r = []
a = int(input("정수를 입력하시오 : "))

while a != -99 :
    n = n+1
    r.append(a)
    r.sort()
    a = int(input("정수를 입력하시오 : "))
    
print("%s개의 유효한 정수 중 가장 큰 정수는 %s 이고, 가장 작은 정수는 %s 입니다."%(n, r[n-1], r[0]))

정수를 입력하시오 : 34
정수를 입력하시오 : 920
정수를 입력하시오 : 320
정수를 입력하시오 : 30
정수를 입력하시오 : -99
4개의 유효한 정수 중 가장 큰 정수는 920 이고, 가장 작은 정수는 30 입니다.

# 5.10

In [9]:
#거북이 부르기
import turtle, random
t = turtle.Turtle()
t.shape("turtle")

In [7]:
# while문을 사용하여 구현
i = 0
while i<=30 :
    n = random.randrange(2)
    if n == 0 :
        t.left(90)
        t.forward(50)
    else :
        t.right(90)
        t.forward(50)
    i = i+1


turtle.done()

In [10]:
# for문을 사용하여 구현

for i in range(0, 31) :
        n = random.randrange(2)
        if n == 0 :
           t.left(90)
           t.forward(50)
        else :
            t.right(90)
            t.forward(50)
        i = i+1

turtle.done()