# 8장 심화문제
- 윤주향
- 201841089

# 1.중요사항 정리   
- 강의에서 가장 중요하고 생각하는 용어, 개념 등을 세 개 이상 써주세요.   
   1) 딕셔너리는 리스트와 같이 값을 저장한느 자료구조로, 중괄호 {}로 생성한다.    
   2) strip() : 함수는 입력 문자열의 앞 뒤에 있는 공백을 깨끗하게 정리해 준다.    
   3) 파일 종류는 일반적으로 마침표(.)문자 뒤에 py,txt, doc, hwp, pdf와 같은 확장자를 붙여서 구분한다.    
      


# 2. 자기 점검

   - 강의 중 어려웠던 점이나, 잘 모르겠는 것들을 써주세요.  
   배운 개념들을 적용시켜 문제를 푸는 과정이 힘들었다.   
   중복이 없는 요소를 구하는 문제를 풀 때 인터넷을 찾아서 예외-처리를 사용하여 풀었는데 다른 방법으로 어떻게 풀어야 할 지 모르겠다.   
         
   

# 3. 심화문제 풀기

   - 8단원의 심화 문제를 풀어서 제출하세요.

# 8.1

In [25]:
fruits_dic = {'사과' : 0, '배' : 0, '수박' : 0,  '귤' : 0, '포도' : 0}
lst=[]
lst = map(int,input("사과, 배, 수박, 귤, 포도 가격을 공백으로 구분하여 입력 : ").split()) #입력받은 가격을 공백으로 나눈다.
# 3000 4500 6000 2400 3400 값 입력
lst= list(lst) #map클래스를 list로 바꿔준다.
#각 키에 리스트의 값을 대입한다.
fruits_dic['사과'] = lst[0]
fruits_dic['배'] = lst[1]
fruits_dic['수박'] = lst[2]
fruits_dic['귤'] = lst[3]
fruits_dic['포도'] = lst[4]

print("----------오늘의 과일 가격------------- ")
for name, price in fruits_dic.items():
    print(name,':',price,"원")

사과, 배, 수박, 귤, 포도 가격을 공백으로 구분하여 입력 : 3000 4500 6000 2400 3400
----------오늘의 과일 가격-------------
사과 : 3000 원
배 : 4500 원
수박 : 6000 원
귤 : 2400 원
포도 : 3400 원

# 8.2

In [26]:
s = input("구매를 원하는 과일의 이름을 입력하시오 : ")
print("오늘 {0} 가격은 {1}원 입니다.".format(s, fruits_dic[s]))

구매를 원하는 과일의 이름을 입력하시오 : 수박
오늘 수박 가격은 6000원 입니다.

# 8.3

In [7]:
student_tup = (('211101', '최성훈', '010-1234-4500'),('211102','김은지','010-2230-6540'),('211103','이세은','010-3232-7788'))

In [57]:
#1)
#딕셔너리로 수정
student_tup = {'211101' : ['최성훈', '010-1234-4500'], '211102' : ['김은지','010-2230-6540'], '211103' : ['이세은','010-3232-7788']}

print("학생의 정보 목록")
for st_num, st_inf in student_tup.items() :
    print("{", st_num, ":", st_inf,"}")

학생의 정보 목록
{ 211101 : ['최성훈', '010-1234-4500'] }
{ 211102 : ['김은지', '010-2230-6540'] }
{ 211103 : ['이세은', '010-3232-7788'] }

In [48]:
#2)
a = input("학번을 입력하시오 : ")
print("이름 : ",student_tup[a][0])
print("연락처 : ", student_tup[a][1])

학번을 입력하시오 : 211103
이름 :  이세은
연락처 :  010-3232-7788

In [58]:
#3)
score = [4.3, 3.9, 4.25]
j = 0
for i in student_tup :  
        student_tup[i].append(score[j])
        j = j+1

print("학생의 정보 목록")
for st_num, st_inf in student_tup.items() :
    print("{", st_num, ":", st_inf,"}")

학생의 정보 목록
{ 211101 : ['최성훈', '010-1234-4500', 4.3] }
{ 211102 : ['김은지', '010-2230-6540', 3.9] }
{ 211103 : ['이세은', '010-3232-7788', 4.25] }

In [78]:
#4)
y = []
for i in student_tup : 
    x = student_tup[i][-1]
    y.append(x)
    
print("전체 학생의 학점 평균 : {:.2f}".format(sum(y)/len(student_tup)))

전체 학생의 학점 평균 : 4.15

# 8.4

In [80]:
lst = [10, 30, 40, 50, 30, 30, 20, 20, 20, 10, 30]

In [99]:
#1)
count={} #count라는 딕셔너리 생성
c = []
for i in lst:
    #예외 처리 사용 lst의 요소를 하나씩 꺼내서 count에 대입
    try: count[i] += 1 #이미 존재하는 key값일 때 +1을 한다.
    except: count[i]=1 #key에 없는 값이면 1로 저장된다.
for j in count : 
    if count[j] == 1 :
        c.append(j)
print("중복이 없는 원소 : ", c)

중복이 없는 원소 :  [40, 50]

In [20]:
#2)
print("전체 원소 : ", sorted(set(lst)))

전체 원소 :  [10, 20, 30, 40, 50]

In [97]:
k1, k2, k3 = 0, 0, 0
for i in lst : 
    if i == 10 : 
        k1 = k1 + 1
    elif i == 20 : 
        k2 = k2 + 1
    elif i == 30 :
        k3 = k3 + 1
    else : 
        pass
        
print("10 : {} 회".format(k1))
print("20 : {} 회".format(k2))
print("30 : {} 회".format(k3))

10 : 2 회
20 : 3 회
30 : 4 회

# 8.5

In [3]:
# LAB 8-2)
print("사전 프로그램 시작... 종료는 q를 입력")
dictionary = {}

while True : 
    st = input("$ ")
    command = st[0]
    if command == "<" : 
        st = st[1:]
        inputStr = st.split(':')
        if len(inputStr) < 2 : 
            print('입력 오류가 발생했습니다.')
        else :
            dictionary[inputStr[0].strip()] = inputStr[1].strip()
    elif command == '>':
        st = st[1:]
        inputStr = st.strip()
        if inputStr in dictionary :
            print(dictionary[inputStr])
        else : 
            print('{}가 사전에 없습니다.'.format(inputStr))
    elif command == 'q' : 
        break
    else : 
        print('입력 오류가 발생했습니다.')
print("사전 프로그램을 종료합니다.")

사전 프로그램 시작... 종료는 q를 입력
$ < one : 하나
$ > one
하나
$ q
사전 프로그램을 종료합니다.

In [6]:
print("사전 프로그램 시작... 종료는 q를 입력")
dictionary = {}

while True : 
    st = input("$ ")
    command = st[0]
    if command == "<" : 
        st = st[1:]
        inputStr = st.split(':')
        if len(inputStr) < 2 : 
            print('입력 오류가 발생했습니다.')
        else :
            dictionary[inputStr[0].strip()] = inputStr[1].strip()
    elif command == '>':
        st = st[1:]
        inputStr = st.strip()
        if inputStr in dictionary :
            print(dictionary[inputStr])
        else : 
            print('{}가 사전에 없습니다.'.format(inputStr))
    elif command == 'q' : 
        break
    elif command == 'v' : #추가한 부분
        print("영어 사전에 있는 단어와 뜻을 출력합니다.")
        for word, mean in dictionary.items():
            print(word, ':', mean)
        break
    else : 
        print('입력 오류가 발생했습니다.')
print("사전 프로그램을 종료합니다.")

사전 프로그램 시작... 종료는 q를 입력
$ < one : 하나
$ < two : 둘
$ < house : 집
$ v
영어 사전에 있는 단어와 뜻을 출력합니다.
one : 하나
two : 둘
house : 집
사전 프로그램을 종료합니다.

# 8.6

In [7]:
student_tuple = [('211101', '강이안', ' 010-123-1111'), ('211102', '박동민', '010-123-2222'),('211103','김수정','010-123-3333')]

In [37]:
student_tuple = {'211101' : ['강이안', ' 010-123-1111'], '211102' : ['박동민', '010-123-2222'], '211103' : ['김수정','010-123-3333']}
for st_num, st_inf in student_tuple.items() :
    print(st_num, ":", st_inf[0])

211101 : 강이안
211102 : 박동민
211103 : 김수정

In [39]:
a = input("학번을 입력하세요 : ")
print(a, "학생은 {0}이며, 전화번호는 {1}입니다.".format(student_tuple[a][0],student_tuple[a][1]) )

학번을 입력하세요 : 211103
211103 학생은 김수정이며, 전화번호는 010-123-3333입니다.